.content, h2 {
    margin: 20px 0;
}
.content span {
    color: black;
}
.content ul {
    display: inline-block;
    list-style: none;
}
.image img {
    width: 80%;
    
}
.left-side {
    width: 60%;
    float: left;
}
.image {
    padding-left: 70%; 
}
footer {
    clear: both;
}
.paragraph {
    text-indent: 25px;
    margin: 10px 0;
}
@media only screen and (max-width: 700px) {
    .left-side {
        float: none;
        width: 90%;
    }
    .image {
        padding-left: 0;
        width: 90%;
    }
}